.header-center-container {
    position: fixed;
    top: 0;
    padding-top: 5px;
    background-color:rgb(255,255,255);
    backdrop-filter: blur(20px);
    padding-top:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    border-right: 1px solid rgba(0, 0, 0, 0.103);
    border-left: 1px solid rgba(0, 0, 0, 0.103);
}
.home-link-container {
    margin-left: 16px;
    margin-bottom: 30px;
}
.home-link {
    font-size: 20px;
    font-weight: 700;
}
.header-buttons-container {
    display:flex;
    padding-bottom: 13px;
}
.header-buttons-container a {
    font-weight: 700;
    font-size: 15px;
    background-color:transparent;
    flex-grow: 1;
    padding: 15px 115px;
    border: none;
    position: relative;
    transition: background-color 0.15s;
}


.header-buttons-container a:hover {
    background-color: rgba(144, 143, 143, 0.149);
}

.header-buttons-container span:after {
    content: "";
    width: 35%;
    border-bottom: 3px solid rgb(29, 155, 240);
    opacity: 0;
    transition: opacity 0.15s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-buttons-container a span.active:after {
    opacity: 1;

}
.header-buttons-container div span:active:after {
    opacity: 1;
}
