
.profile-header-top-sticky-wrapper {
    position: sticky;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.profile-header-top-sticky-wrapper .home-link {
    padding-left: 20px;
}
.profile-header-top svg {
    width: 20px;
}
.profile-header-top-credentials {
    margin-left: 30px;
}
.profile-header-top-username {
    font-size: 20px;
    font-weight: 700;

}
.profile-header-top-tweets {
    font-size: 13px;
    font-weight: 400;
    color: rgb(144,155,163);
}
.profile-header-background {
    padding-left: 0px !important;
    background-color:rgb(207,217,222);
    width: 100%;
    height: 200px;
}
.profile-header-user-info {
    padding-left: 20px;
    padding-bottom: 20px;
}
.profile-header-photo-wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.profile-header-photo-container {
    position: relative;
    border-radius: 50%;
}
.profile-header-photo-wrapper img {
    position: absolute;
    object-position: center center;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    top: -100px;
}
.profile-header-user-link {
    font-size: 15px;
}
.profile-header-joined-date {
    font-size: 15px;
}
.profile-header-following-wrapper {
    display: flex;
    font-size: 15px;

}

.profile-header-following-wrapper .profile-follow span{
    font-size: 700;
}
.profile-header-user {
    padding-top: 30px;
}
.profile-header-joined-date {
    display: flex;

}
.profile-header-joined-date svg {
    margin-right: 5px;
}
.profile-follow span {
    margin-right: 5px;
    font-weight: 700;
}
.profile-follow {
    margin-right: 15px;
}
