.sidebar-nav {
    position: fixed;
    left: 150px;
    width: 250px;
    top: 15px;
    top: 0;
    bottom: 0;
    font-size: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.103);
}
.nav-links-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-content: center;
    margin-bottom: 20px;
}
.sidebar-logo a {
   padding: 11px 13px; 
   width: 27px;
   border-radius: 30px;
   display: flex;
   transition: background-color 0.15s;
}
.nav-links-container a svg {
    height: 27px;
    margin-right: 20px;
}
.sidebar-logo a:hover {
    background-color:rgba(29, 155, 240, 0.10);
}
.sidebar-logo {
    margin-bottom: 15px;
}

.nav-links-container a {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    transition: background-color 0.15s;
}
.nav-links-container img {
    height: 27px;
    margin-right: 20px;
}
.nav-links-container a:hover {
    background-color:rgba(15, 20, 25, 0.1);
}
.sidebar-nav-home {
    font-weight: 700;
}
.sidebar-nav-tweet-btn {
    margin-bottom: 40px;
}
.sidebar-nav-tweet-btn a{
    color: white;
    font-weight: 700;
    padding: 15px 80px;
    background-color: rgb(29, 155, 240);
    border-radius: 25px;
    transition: background-color 0.20s;
}
.sidebar-nav-tweet-btn a:hover {
    background-color: rgb(29, 131, 199);
}
.sidebar-profile-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.profile-info p {
    margin: 0;
}

.sidebar-profile-image-container {
    margin-right: 12px;
    margin-left: 8px;
}
.sidebar-profile-image-container img {
    width: 40px;
    border-radius: 30px;
}
.sidebar-profile-more {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 15px;
}
.sidebar-profile-more img {
    width: 18.75px;
}
.sidebar-profile-name {
    font-weight: 700;
    padding-bottom: 5px;
}
